body {
	margin: 0;
	padding: 0;
	background-image: url(gambar/joy.jpg);
	background-position: right;
	background-size: 0 -300px;
}
header {
	background-image: url(3.jpeg);
	background-size: cover;
	background-position: 0px -460px;
	height: none;
}

.judul {
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 30px;
	color: #6d32a8;
}

/*
h1 {
	font-size: 70px;
	color: transparent;
	-webkit-text-stroke:1px black;
	background : url(da.png);
	-webkit-background-clip: text;
	animation: back 20s linear infinite; 
}
@keyframes back {
	100% {
		background-position: 2000px 0; z-index: -1
	}
}
*/
@media only screen and (min-width: 150px) {.logo {
	margin: 0;
	height: 150px;
	float: left;
	border-radius: 50%;
}
}
@media only screen and (min-width: 600px) {.nav-bar {
	height: 330px;
	display: flex;
}
}

.navigasi {
	flex: 1;
	float: right;
	margin: 30px;
}
.navigasi li {
	list-style: none;
	display: inline-block;
	margin: 10px;
	padding: 10px;
	font-size: 20px;
	border-style: inherit;
	border-width: 5px;
	color: #6d32a8;
	text-decoration: none;
}
.navigasi li a {
	display: inline-block;
	color: #6d32a8 ;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 18px;
	letter-spacing: 0px;
	padding: 5px;
}
.navigasi a:hover {
	background-color: lightskyblue;
	color: white;
	transition: 4s;

}
.sub {
	display: none;
}
.navigasi li:hover .sub {
	display: block;
	position: absolute;
	background-color: #cac6cc;
	margin-left: 0px;
	margin-right: 2px;
	padding: 3px;
}
.navigasi li:hover .sub li {
	display: block;
	margin: 5px;

}
.navigasi li:hover .sub li a {
	width: 100px;
	padding: 5px;
	border-bottom: 1px solid #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;

}

.gif1{
	margin-left: 0;
}
.gif2 {
	margin-right: 0;
	margin-left: 500px;
	width: 100%;
}
.ani {
	margin-top: 0;
	margin-right: 150px;
	margin-left: 150px;
	padding: 30px;
	background-color: #ffbffd;
	border-collapse: separate;
}
.definisi {
	padding: 10px 20px;

}
.judul {
	font-size: 30px;
	font-kerning: 10px;
	font-stretch: 5px;
	text-align: center;
	font-family: Rockwell;
}
.isi {
	font-size: 15px;
	text-indent: 40px;
	font-family: Euphemia;
}
.isi2 {
	font-size: 15px;
	text-indent: 40px;
	font-family: Euphemia;
}
.isi3 {
	font-size: 15px;
	text-indent: 40px;
	font-family: Euphemia;
}
.isi4 {
	font-size: 15px;
	text-indent: 40px;
	font-family: Euphemia;
}
.history {
	padding: 15px 30px;
	font-family: Euphemia;

}